{% extends 'base.html' %}

{% block title %}Feeds{% endblock title %}

{% load static %}

{% block content %}
{% include 'top-nav.html' %}
<main class="forum ">
    <div class="container">
        {% include 'side-nav.html'%}
        <!------------------ MIDDLE --------------------->
        <section class="middle">
            
        </section>
        <!------------------ END OF MIDDLE --------------------->
        <!------------------ RIGHT --------------------->
        <section class="right">
        </section>
        <!------------------ END OF RIGHT --------------------->
    </div>
</main>
<script src="{% static 'js/message.js'%}"></script>
{% endblock content %}